.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #b5daec;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


.list-style {
    list-style: none;
    padding-left: 0;
}

.list-item {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #0ac7ed;
    background-color: #f0f8ff;
    border-radius: 10px;
}

.list-link {
    display: inline-block;
    padding: 10px 20px;
    color: #1d1b1b;
    background-color: #a3c3e6;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* 影を追加 */
    border: solid 1px #0056b3; /* ボーダーを追加 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 影のトランジションも追加 */
}

.list-link:hover {
    background-color: #0056b3;
    box-shadow: none; /* マウスオーバー時に影を消す */
}


.list-desc {
    margin-top: 10px;
}

.detail-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-detail {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border: solid 1px #0056b3;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-detail:hover {
    background-color: #0056b3;
    box-shadow: none;
}