asgiref==3.7.2
bleach==6.0.0
dj-database-url==2.0.0
Django==4.2.2
django-environ==0.10.0
django-summernote==0.8.20.0
Pillow==9.5.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.6.3
webencodings==0.5.1

-r requirements-dev.txt
gunicorn
psycopg2

